.DS_Store
bower_components
node_modules
.sass-cache
html-angular-validate-report.json
ssl
build/*.js
build/*.json
build/*.map
build/*.eot
build/*.woff
build/*.woff2
build/*.ttf
build/*.svg
coverage
.nyc_output
*.log