.page-header {
    padding-left: 100px;
    padding-bottom: 20px;
    border-bottom: 0;
    margin-top: 15px;

    @include respond-to(mobile) {
        padding-left: 15px;
    }

    small {
        @include clearfix;
    }

    img {
        float: left;
        position: absolute;
        top: 20px;
        left: 0;
        height: 90px;

        @include respond-to(mobile) {
            float: none;
            position: relative;
            margin: 0 auto 50px;
            display: block;
        }
    }
}
