header.ndj-page-header {
  border: none;
  margin-top: 30px;
  padding: 0;

  h1 {
    margin: 0;
    font-size: 20px;

    small {
      display: block;
      clear: both;
      font-size: .8em;
      margin-top: 5px;
    }
  }
}